input[type=text],
textarea{
    width: 70%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(12, 12, 12);
    outline: none;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form{
    background-color: #ffce49;
    border-radius: 10px;
}

.btn{
    margin-left: 70%;
    background-color: #35475e;
    color:whitesmoke
}

.formulario p{
  width: 100%;
  font-size: 1.5em;
}

.formLabel{
  margin-left: 110px;
  color: black;
}
